<h1 mat-dialog-title>Escolha um novo ícone</h1>
<div mat-dialog-content>
  <mat-form-field>
  </mat-form-field>
  <div class="icons-grid">
  <div *ngFor="let icon of icones_sociais">
    <i [class]="icon.classe"
       [style.color]="icon.cor"
       style="display:inline-block; width:40px; height:40px; font-size:40px;"  title={{icon.nome}}
     (click)="escolherIcone(icon)">
    </i>
  </div>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">No Thanks</button>
  <button mat-button  
             cdkFocusInitial>Ok</button>
</div>