<div class="login-form">
    <h1>Login</h1>
    <form action="/login" method="post"></form>
    <div class="form-group ">
      <input type="text" class="form-control" placeholder="Username " id="UserName" name="userName" [formControl]="userName">
      <i class="mdi mdi-account"></i>
    </div>
    <div class="form-group log-status">
      <input type="password" class="form-control" placeholder="Password" id="Passwod" name="password" [formControl]="password">
      <i class="mdi mdi-lock"></i>
    </div>
    <a class="link" href="#">Esqueceu a palavra passe?</a>
    <span *ngIf="spanAlerta" class="alert">Credenciais inválidas</span>
    <button type="button" class="log-btn" (click)="verificarLogin(userName.value,password.value)"><i class="mdi mdi-account"></i> Log in</button>
  </div>
