<app-header></app-header>
<div class="login-form">
    <span class="title">SignUp</span>
    <form action="/signup" method="post">
        <div class="form-group ">
          <!-- <i class="mdi mdi-account"></i> -->
            <input type="text" class="form-control" placeholder="Username " id="userName" name="userName" [formControl]="userName">
          </div>
          <div class="form-group ">
            <i class="mdi mdi-account"></i>
              <input type="email" class="form-control" placeholder="example@gmail.com" id="email" name="email" [formControl]="email">
            </div>
          <div class="form-group log-status">
            <i class="mdi mdi-lock"></i>
            <input type="password" class="form-control" placeholder="Password" id="password" name="password" [formControl]="password">
          </div>
          <span *ngIf="spanAlerta" class="alert">{{spanText}}</span>
          <div class="mt-2 buttons-div">
            <button type="button" class="signup-btn" (click)="cadastrar()"><i class="mdi mdi-account"></i> Cadastre-se</button>
          </div>
         
          <span class="span-signup"> <a  [routerLink]="'/signup'">Já tem uma conta? Faça Login</a></span>
    </form>
  </div>

