<main class="dashboard" [class.shifted]="sidebarOpen">
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
    <div>
        <h1>Menu Principal</h1>

        <button type="button" class="adicionar-link" (click)="criarSocialLink()">
          Adicionar Link
        </button>
        <div>
         
        <div>
          <div id="links-sociais">
             
             <div *ngFor="let sociallink of socialLinks" id="links-sociais">
                <div class="socialLinkDiv">
                  <div>
                     <button class="drag-btn" title="Arrastar">
                    <img src="assets/icones/grip lines.svg" alt="Ícone SVG" width="40" height="40">
                  </button>

                   <button class="btn-imagem" title="Imagem" (click)="abrirJanelaIcons(sociallink.socialLink_id)">
                    <i class={{sociallink.icon}}></i>
                  </button>
                  </div>
                 
                  <div class="input-div">
                    
                       <div id="title-input-div">
                    <i class="fa-solid fa-tag"></i>
                    <input type="text" placeholder="Título" [(ngModel)]="sociallink.title" (ngModelChange)="onFieldChange(sociallink)">
                  </div>

                  <div id="url-input-div">
                    <i class="fas fa-link"></i>
                    <input type="text" placeholder="Url"  [(ngModel)]="sociallink.Url" (ngModelChange)="onFieldChange(sociallink)">
                  </div>
                  </div>
                 <div class="icones-div">
                   
                  <button (click)="copiarLink(sociallink.Url)" class="copiar-btn" title="Copiar">
                    <i class="fas fa-copy"></i>
                  </button>

                  <mat-slide-toggle
  [checked]="sociallink.isActive"
  (change)="trocarEstadoLink(sociallink.socialLink_id,$event.checked)">
</mat-slide-toggle>

                   <button (click)="apagarSocialLink(sociallink.socialLink_id)" class="apagar-btn">  <i class="fas fa-trash"></i></button>
                    
                      </div>
                </div>
              </div>                                      
          </div>
             
        </div><br><br>
        
      </div>
      </div>
      <script>
  new Sortable(document.getElementById('links-sociais'), {
    animation: 150,
    ghostClass: 'dragging'
  });
</script>
</main>