body{
  background-color: rgb(255, 255, 255);
}

h1{
  font-family: Arial;
}

main {
  padding: 20px;
  z-index: 1;
  padding-left: calc(82px + 20px);
}


.dashboard {
  flex: 1;
  margin-left: 82px; 
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.dashboard.shifted {
  margin-left: 250px; 
}

.adicionar-link{
  background-color: rgb(79, 112, 221);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
}

.socialLinkDiv{
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 20px 100px 20px 100px;
  border-radius: 25px;
  background-color: white;
}

.socialLinkDiv input{
  width: 100%;
  padding: 15px 10px 15px 15px;
  border: none;
  background-color: #cfcfcf;
  color: rgb(29, 29, 29);
  border-radius: 20px;
  text-indent: 15px;
}

.apagar-btn{
  padding: 10px 2px 10px 2px;
  background-color: rgb(209, 32, 32);
  border-radius: 10px;
  border: none;
  color: white;
}

.drag-btn {
  cursor: grab;
  background: transparent;
  border: none;
  font-size: 18px;
  margin-right: 5px;
}
.drag-btn:active {
  cursor: grabbing;
}

#title-input-div{
margin-bottom: 10px;
}

#url-input-div{
margin-top: 10px;
}
#url-input-div input{
  text-indent: 20px;
}

#title-input-div i{
  margin-left: 14px;
}

#title-input-div input{
  text-indent: 20px;
}

.socialLinkDiv i {
  position: absolute;
  margin-left: 10px;
  margin-top: 14px;
  color: rgb(29, 29, 29);
}

