<main class="dashboard" [class.shifted]="sidebarOpen">
    <div>
        <h1>Menu Principal</h1>

        <div>
         
        <div *ngIf="sociallinkDivShowing">
              <!-- <div *ngFor="let sociallink of socialLinks" > -->
                <div class="socialLinkDiv">
                  <!-- <label>Nome:</label> -->
                  <div id="title-input-div">
                    <i class="fa-solid fa-tag"></i>
                    <input type="text" placeholder="Título">
                  </div>
                  <!-- <label>Url:</label> -->
                  <div id="url-input-div">
                    <i class="fas fa-link"></i>
                    <input type="text" placeholder="Url">
                  </div>
                </div>
              <!-- </div>                                       -->
        </div><br><br>
        <button type="button" class="adicionar-link" (click)="criarSocialLink()">
          Adicionar Link
        </button>
      </div>
      </div>
</main>