<main class="dashboard" [class.shifted]="sidebarOpen">
    <div>
        <h1>Menu Principal</h1>

        <div>
          <button class="adicionar-link" (click)="adicionarSocialLink()">
          Adicionar Link
        </button>
        <div *ngIf="sociallinkDivShowing">
              <!-- <div *ngFor="let sociallink of socialLinks" > -->
                <div class="socialLinkDiv">
                  <label>Nome:</label>
                <input type="text">
                <label>Url:</label>
                <input type="text">
                </div>
              <!-- </div>                                       -->
        </div>
      </div>
      </div>
</main>