<main class="dashboard" [class.shifted]="sidebarOpen">
    <div>
        <h1>Menu Principal</h1>

        <div>
          <button class="adicionar-link" (click)="adicionarSocialLink()">
          Adicionar Link
        </button>
        <div *NgIf="sociallinkDivShowing"  class="socialLinkDiv">
              <div *NgFor="let sociallink of socialLinks" class="socialLinkDiv">
                
              </div>                                      
        </div>
      </div>
      </div>
</main>