main {
  padding: 20px;
  position: fixed;
  z-index: 1;
  padding-left: calc(82px + 20px);
}


.dashboard {
  flex: 1;
  margin-left: 60px; 
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.dashboard.shifted {
  margin-left: 250px; 
}